body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    background: white;
    text-align: center;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(120,120 ,120 ,4);
    padding: 30px;
    border-radius: 15px;
}

h1{
    font-family: Bradley Hand, cursive;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    color: #085ecf;
    margin-top: 40px;
}